/* TODO: RESPONSIVE*/
/*----------------------------------*/
/* General */
/* Variable */
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Element - inside padding */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: -webkit-linear-gradient(left, #012f5a, #397298, #6a9cb9, #fff, #6a9cb9, #397298, #012f5a);
  background: linear-gradient(to right, #012f5a, #397298, #6a9cb9, #fff, #6a9cb9, #397298, #012f5a);
}

img {
  /* Responsive images */
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
}

/* Links */
a:link {
  text-decoration: none;
  outline: 0;
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
/* selected link */
a:active {
  color: white;
}

/* Links */
.main {
  display: block;
  max-width: 960px;
  /* 960px */
  /* 1024px; */
  /* 1280px; */
  /* 1440px; */
  height: auto;
  margin: 0 auto;
  background-color: white;
}

.flex, header, .l-header, .r-header, .r-header2, .backbar, .backbar .backbar-l, .backbar .backbar-r, .mid-section, .posts, .posts-content, .posts-img, .posts-text, .posts-text a, .sponsors, .sponsors ul, footer {
  /* @extend */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* General */
/*----------------------------------*/
/*----------------------------------*/
/* Header */
header {
  min-height: 110px;
  color: white;
  padding: 0px 30px 0px 30px;
  /* 960px to 900px - (padding/margin) */
  background: -webkit-linear-gradient(left, #111213, #111213, rgba(32, 31, 31, 0.95));
  background: linear-gradient(to right, #111213, #111213, rgba(32, 31, 31, 0.95));
}

.l-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.r-header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.r-header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.r-header1 input {
  border-radius: 10px;
  padding: 4px 4px 4px 8px;
  border: none;
  box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}

.r-header2 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 15px;
  margin-bottom: 12.5px;
}

nav li:nth-child(1) {
  padding: 0px;
}

nav a {
  display: block;
  cursor: pointer;
}

/* Header */
/*----------------------------------*/
/*----------------------------------*/
/* Main */
.content {
  /* Main wrapper */
  height: auto;
  margin: 0 auto;
}

/* Slider */
/*----------------------------------*/
.slider {
  height: 360px;
}

/* Slider */
/*----------------------------------*/
/* Backbar */
/*----------------------------------*/
.backbar {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  padding: 0px 30px 0px 30px;
  /* 960px to 900px - (padding/margin) */
  min-height: 150px;
  font-size: 30px;
  background-color: #0a0a0a;
  color: #a3a3a3;
}

.backbar .backbar-l {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

/* Backbar */
/*----------------------------------*/
/*----------------------------------*/
/* Mid section - Article & aside */
.mid-section {
  height: auto;
}

/* Article */
/*----------------------------------*/
article {
  -webkit-box-flex: 1;
  -ms-flex: 1 73.95833%;
  flex: 1 73.95833%;
  /* 710px / 960px * 100% */
  padding: 0px 60px 0px 30px;
  background-color: white;
}

.posts {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  height: 160px;
  margin: 30px 0px 30px 0px;
}

.posts-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.posts-img {
  border: 5px solid #e9e9e9;
  -webkit-box-flex: 1;
  -ms-flex: 1 22.5806%;
  flex: 1 22.5806%;
  /* 140px / 620px * 100% */
}

.posts-text {
  -webkit-box-flex: 1;
  -ms-flex: 1 77.4194%;
  flex: 1 77.4194%;
  /* 100% - 22.5806% */
  padding: 10px 0px 0px 30px;
  text-align: justify;
  font-size: 13px;
}

.posts-text h1 {
  display: block;
  width: 100%;
}

.posts-text span {
  font-size: 10px;
  color: #5297ba;
}

.posts-text a {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.posts-text button {
  display: block;
  line-height: 0;
  width: 140px;
  height: 30px;
  background-color: #5298bb;
  border-radius: 5px;
  border: none;
  color: #e9e9e9;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0px -3px 2px #969696;
  border-bottom: 1px solid black;
}

.pages {
  margin: 40px 0px 45px 0px;
}

.pages li {
  display: inline-block;
  margin-left: 5px;
  color: grey;
  padding: 3px 10px 3px 10px;
  font-size: 10px;
  background-color: #eeeeee;
}

.pages li:nth-child(2) {
  /* Target 2'nd child (Page 1) */
  color: white;
  background-color: #c1c1c1;
}

.hr {
  width: 100%;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15), transparent);
}

.hr .hr:nth-last-child(1) {
  margin-bottom: 30px;
}

/* Article */
/*----------------------------------*/
/* Aside */
/*----------------------------------*/
aside {
  -webkit-box-flex: 1;
  -ms-flex: 1 26.041667%;
  flex: 1 26.041667%;
  /* 250px / 960px * 100 (or 100% - 73.95833%) */
  -ms-flex-flow: column;
  flex-flow: column;
  background: -webkit-linear-gradient(top, #eaeaea, #fbfbfb, #fff);
  background: linear-gradient(to bottom, #eaeaea, #fbfbfb, #fff);
}

.sidebar {
  padding: 0px 25px 0px 25px;
  margin-bottom: 45px;
}

.sidebar h1 {
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.sidebar p, .sidebar span, .sidebar ul {
  font-size: 13px;
}

.sidebar span {
  color: #2c83b0;
  cursor: pointer;
}

.sidebar #next-event-p {
  margin-bottom: 30px;
}

.sidebar ul {
  margin-top: 30px;
}

.sidebar ul li {
  list-style-type: none;
  padding: 3px;
}

/* Aside */
/*----------------------------------*/
/* Mid section - Article & aside */
/*----------------------------------*/
/* Sponsor section */
/*----------------------------------*/
.sponsor-section {
  padding: 0px 30px 0px 30px;
  /* 960px to 900px - (padding/margin) */
}

.sponsors {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 35px;
}

.sponsors ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}

.sponsors li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 130px;
  min-height: 75px;
  margin-bottom: 10px;
  box-sizing: content-box;
  border: 5px solid #f6f6f6;
}

.sponsors img {
  min-width: 130px;
  min-height: 75px;
  max-width: 130px;
  max-height: 75px;
}

/* Sponsor section */
/*----------------------------------*/
/* Main */
/*----------------------------------*/
/*----------------------------------*/
/* Footer */
footer {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: auto;
  padding: 0px 30px 0px 30px;
  /* 960px to 900px - (padding/margin) */
  margin-bottom: 100px;
  color: #6f6e6e;
  background-color: #0f0f0f;
  box-shadow: 0 20px 50px -20px #000000;
}

.footer {
  margin-top: 25px;
  margin-bottom: 30px;
}

.footer h1 {
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
}

.footer h3 {
  font-size: 13px;
  margin-bottom: 15px;
  color: #a3a3a3;
}

.footer p {
  font-size: 13px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.footer span {
  color: #a3a3a3;
}

#left {
  /* 335px / 900 * 100 */
  -webkit-box-flex: 1;
  -ms-flex: 1 37.2%;
  flex: 1 37.2%;
}

#middle {
  /* (100 - 37.2) / 2 */
  -webkit-box-flex: 1;
  -ms-flex: 1 31.4%;
  flex: 1 31.4%;
}

#middle img {
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  border: 1px solid #393838;
}

#right {
  /* (100 - 37.2) / 2 */
  -webkit-box-flex: 1;
  -ms-flex: 1 31.4%;
  flex: 1 31.4%;
}

#right img {
  margin-top: 15px;
}

#right ul li {
  display: block;
  font-size: 13px;
  margin-top: 5px;
}

/* Footer */
/*----------------------------------*/
/*----------------------------------*/
/* Media Queries */
@media (max-width: 400px) {
  /* Small screens */
  /* Header */
  .r-header1 {
    /* Center alignment (search bar) */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
  }
  nav {
    /* Center alignment */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  /* Header */
  /* Slider */
  .slider {
    /* Slider height */
    height: 120px;
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    top: 80px;
    left: 0;
  }
  /* Slider */
  /* Backbar */
  .backbar {
    /* Center alignment */
    padding-top: 30px;
    text-align: center;
    font-size: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* Backbar */
  /* Mid-section */
  .mid-section {
    /* Responsive section height */
    display: block;
    height: auto;
  }
  article {
    /* Article full width with padding */
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    padding: 0px 30px 0px 30px;
  }
  article .posts {
    /* Responsive height */
    height: auto;
  }
  article .posts-img, article .posts-text {
    /* Center alignment */
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
  }
  article .posts-text a {
    /* Button margin*/
    margin-top: 20px;
  }
  .pages {
    /* Align center - page search */
    text-align: center;
  }
  /* Mid-section */
  /* Aside */
  aside {
    /* Aside full width */
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
  }
  aside .sidebar h1 {
    padding-top: 30px;
  }
  /* Aside */
  /* Sponsors */
  .sponsors li {
    /* Sponsors - 1 column align */
    min-width: 40%;
    max-width: 40%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border: none;
  }
  .sponsors .mobile-remove {
    /* Remove li without sponsor img */
    display: none;
  }
  /* Sponsors */
  /* Footer */
  footer {
    margin: 0px;
    /* No margin bottom */
  }
  footer br {
    /* No line breaks */
    display: none;
  }
  .footer {
    margin-bottom: 0px;
    /* No margin bottom */
  }
  .footer img {
    margin-bottom: 20px;
  }
  .footer #left, #middle, #right {
    /* Full width footer content */
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    margin-bottom: 0px;
  }
  /* Footer */
}

/* Media Queries */
/*----------------------------------*/
